#main-bg {
	-fx-background-image: url("/gui.img/bg1.jpg");
	-fx-border-width: 2px;
	-fx-background-position: left top, center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
}

.anchor {
	-fx-background-image: url("/gui.img/bg1.jpg");
	-fx-border-width: 2px;
	-fx-background-position: left top, center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
}

/*ERROR field text*/
.error * {
  -fx-text-fill: #dd4b39;
  -fx-prompt-text-fill: #dd4b39;
  -icons-color: #dd4b39;
  -fx-font-size: 14px;
}

.error-text {
  -fx-text-fill: #dd4b39;
  -fx-prompt-text-fill: #dd4b39;
  -icons-color: #dd4b39;
  -fx-font-size: 14px;
}
/*Notification */

.notification-bar>.pane {
    -fx-background-color: red, yellow, blue;
    -fx-padding: 5 5 5 5;
    -fx-background-insets: 0, 1, 2;
}

.notification-bar>.pane .title {
    -fx-font-size: 1.333em; /*16px;*/
    -fx-text-fill: #000;
    -fx-font-weight: bold;
}

.notification-bar>.pane .label {
    -fx-font-size: 1em; /*12px;*/
    -fx-text-fill: #000;
    -fx-alignment: top-left;
}

/*Buttons*/
.mainbutton:selected {
	-fx-background-color:#36cbd0;
	-fx-border-width: 0 0 3 0;
	-fx-border-color: #36cbd0 #36cbd0 #36cbd0 #36cbd0;
}

.menuButton:selected {
	-fx-background-color:#36cbd0;
	-fx-border-width: 0 0 3 0;
	-fx-border-color: #f17000 #f17000 #f17000 #f17000;
}

.menu-price-button {
	-fx-rippler-fill:#f5e65f;
	-fx-background-color: #ffcc00;
	-fx-text-fill: white;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-font-family: System;
}

.close-button {
	-fx-background-color: #d34836;
	-fx-fill: #d34836;
}

.edit-button {
	-fx-background-color: #4286f4;
	-fx-fill: #4286f4;
}

.text_MD_dark {
	-fx-text-fill: #3f4652;
	-fx-font-weight: bold;
	-fx-font-size: 17px;
}

.text_MD_orange {
	-fx-text-fill: #f17000;
	-fx-font-weight: bold;
	-fx-font-size: 17px;
	-fx-fill: #f17000;
	-fx-opacity: 0.5;
}

.chair-checkbox {
	 -jfx-checked-color: #f17000;
	 -jfx-unchecked-color: #3f4652;
	 -fx-padding: 0 10 0 0;
}

.small-combo-box {
    -jfx-unfocus-color: transparent;
   	-fx-padding: 0 0 0 0;
    -fx-font-size : 12pt;
    -fx-alignment:top-left;

}

.combo-box
{
    -fx-cell-size: 2.5em; 
    -fx-font-family: 'Myriad Pro Light';
    -fx-font-size: 14pt;
    -fx-padding: -5 -5 -5 -15;
}

.combo-box-base > .arrow-button {
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
    -fx-padding: 0 0.833333em 0 0;
    -fx-background-color: transparent;
    -fx-alignment:center-left;
}

